.footer {
    padding: 300px 0 30px;
    color: $secondary-color;
    font-size: 12px;

    &__wrapper {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    &__copyright {
        justify-self: start;
    }

    &__love {
        justify-self: center;
        text-align: center;
    }

    &__github-link {
        justify-self: end;

        svg {
            display: block;
            width: 24px;
            height: 24px;

            path {
                fill: $main-color;
            }
        }
    }
}